# System Files
Thumbs.db
.DS_Store

# Build directories and files
build/
target/
out/

# Gradle files
.gradle

# Micronaut files
.micronaut/

# IDE-specific files (IntelliJ IDEA)
.idea
*.iml
*.ipr
*.iws

# Eclipse files
.project
.settings
.classpath
.factorypath
